/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

.spotify-logo {
  width: 167px;
}

.backgroundpic {
  width: 100%;
}

nav {
  font-size: 18px;
  text-align: right;
  list-style-type: none;
}

nav a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Lucida Grande", sans-serif;
  color: 00000;
}

h1 {
  font-size: 64px;
  color: #ffffff;
  text-align: center;
}

.backgroundpich2 {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.icon {
  width: 100px;
  height: 72px;
}

.greentext {
  color: #00B172
}

.footer {
  background-color: #00B172
}


.footerh2 {
  text-align: left;
  color: #ffffff;
}

.footerh3 {
  text-align: left;
  color: #ffffff;
}

.footerp {
  text-align: left;
  color: #ffffff;
}

.whiteicon {
  width: 100px;
  height: 100px;
}

.Yeezy {
  width: 259px;
  height: 460px;
}
